<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>
            <h3 class="jumbotron">This is from header section</h3>
        </header>
        @RenderBody()
        <footer>
            <h3 class="jumbotron">This is from footer section</h3>
        </footer>
    </div>

    <script src="~/jquery/jquery.js"></script>

    <script src="~/twitter-bootstrap/js/bootstrap.js"></script>
</body>
</html>
