@model Employee
@{
    Layout = null;
}
<a asp-action="Create">Create New</a>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <h2>Thanks! @Model.Name</h2>
</body>
</html>
<a asp-action="Index">View All Employees</a>
