@model Validation1.Models.Employee

@{
    ViewData["Title"] = "Index";
    Layout="~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-4 mx-auto">
         
        </div>
    </div>
</div>

